# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.pdf

*.jar
*.war
*.ear
*.class

# OS or Editor folders
.cache
.project
.settings
.classpath